{% extends "base2.html" %}
{% block title %}post_all.html{% endblock %}
{% block content %}
<h1 align="center">Blog List</h1>
<br>
{% for post in posts %}

<h3 ><a href='{{ post.get_absolute_url }}' target="_blank">{{ post.title }}</a></h3>
{{post.modify_dt|date:"N d, Y"}}
<p >{{ post.description }}</p>

{% endfor %}
<br>
<div>
 <span>


{% include "pagination.html" %}


 {% if page_obj.has_previous %}
 <a href="?page={{ page_obj.previous_page_number }}">PreviousPage</a>
 {% endif %}
 Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
 {% if page_obj.has_next %}
 <a href="?page={{ page_obj.next_page_number }}">NextPage</a>
 {% endif %}
 </span>
</div>
 {% if user.is_active %}
 <div class="text-right mr-3">
 <a href="{%url 'blog:add' %}" class="btn btn-primary btn-sm">
 <i class="fas fa-pencil-alt"></i> 쓰기</a>
 </div>
 {% endif %}
{% endblock %}